.App {
  text-align: center;
  background: linear-gradient(to bottom right, #000a12, #0a2a43); /* Darker background */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.content {
  padding-bottom: 3.5rem; /* Ensure content is not hidden behind the navbar */
}
